<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="com.linjia.web.dao.ActivityPintuanBaseMapper" >
  <resultMap id="BaseResultMap" type="com.linjia.web.model.ActivityPintuanBase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="detail_path" property="detailPath" jdbcType="VARCHAR" />
    <result column="p_unit" property="pUnit" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="pt_price" property="ptPrice" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="lower_limit" property="lowerLimit" jdbcType="SMALLINT" />
    <result column="upper_limit" property="upperLimit" jdbcType="SMALLINT" />
    <result column="sales_num" property="salesNum" jdbcType="INTEGER" />
    <result column="cluster_num" property="clusterNum" jdbcType="INTEGER" />
    <result column="cluster_success_num" property="clusterSuccessNum" jdbcType="INTEGER" />
    <result column="cre_date" property="creDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="online" property="online" jdbcType="BIT" />
    <result column="give_score" property="giveScore" jdbcType="INTEGER" />
    <result column="proImagePath" property="proImagePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bapb.id, bapb.product_id, bapb.start_time, bapb.end_time, bapb.p_name, bapb.description, 
    CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bapb.image_path) AS proImagePath, bapb.p_unit, bapb.market_price, 
    bapb.pt_price, bapb.sort_index, bapb.lower_limit, bapb.upper_limit, bapb.sales_num, bapb.cluster_num, 
    bapb.cluster_success_num,bapb.cre_date,bapb.update_date,bapb.deleted,bapb.online,bapb.give_score
  </sql> 
  <select id="selectPintuanProductList" resultMap="BaseResultMap" parameterType="com.linjia.web.query.ActivityPintuanBaseQuery" >
    select 
    <include refid="Base_Column_List" />,
    <!-- 商品设置活动库存-安全库存量 -->
    bapb.quantity AS quantity,
    CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) AS image_path
    from b_activity_pintuan_base bapb,b_product bp
    WHERE bapb.p_code=bp.p_code and bapb.deleted =0 and bapb.online = 1
    and SYSDATE() &lt; bapb.end_time
    ORDER BY sort_index DESC 
    LIMIT #{startIndex},#{pageSize}
  </select>
  
  <select id="selectDetailById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />,
   <!--  商品设置活动库存-安全库存量 -->
    bapb.quantity AS quantity,
    bapb.p_code,
    CONCAT('${@com.linjia.constants.Application@SERVER_BASE_PATH}',bp.image_path) AS image_path
    from b_activity_pintuan_base bapb ,b_product bp
    WHERE bapb.p_code=bp.p_code and bapb.deleted =0 and bapb.online = 1
    and bapb.id = #{id,jdbcType=INTEGER}
  </select> 
  
  <!--根据id更新拼团商品基本表-->
  <update id="updateByBaseId" parameterType="com.linjia.web.model.ActivityPintuanBase">
  	update b_activity_pintuan_base
  	<set>
	  	<if test="startTime !=null">start_time=#{startTime}</if>
	  	<if test="endTime !=null">end_time=#{endTime}</if>
	  	<if test="pName !=null">p_name=#{pName}</if>
	  	<if test="pCode !=null">p_code=#{pCode}</if>
	  	<if test="description !=null">description=#{description}</if>
	  	<if test="imagePath !=null">image_path=#{imagePath}</if>
	  	<if test="detailPath !=null">detail_path=#{detailPath}</if>
	  	<if test="pUnit !=null">p_unit=#{pUnit}</if>
	  	<if test="marketPrice !=null">market_price=#{marketPrice}</if>
	  	<if test="ptPrice !=null">pt_price=#{ptPrice}</if>
	  	<if test="quantity !=null">quantity=#{quantity}</if>
	  	<if test="sortIndex !=null">sort_index=#{sortIndex}</if>
	  	<if test="lowerLimit !=null">lower_limit=#{lowerLimit}</if>
	  	<if test="upperLimit !=null">upper_limit=#{upperLimit}</if>
	  	<if test="salesNum !=null">sales_num=#{salesNum}</if>
	  	<if test="clusterNum !=null">cluster_num=#{clusterNum}</if>
	  	<if test="clusterSuccessNum !=null">cluster_success_num=#{clusterSuccessNum}</if>
	  	<if test="updateDate !=null">update_date=#{updateDate}</if>
	  	<if test="deleted !=null">deleted=#{deleted}</if>
	  	<if test="online !=null">online=#{online}</if>
	  	<if test="giveScore !=null">give_score=#{giveScore}</if>
	  	<if test="baseQuantyMul !=null">quantity=quantity - #{baseQuantyMul}</if>
	  	<if test="baseQuantyAdd !=null">quantity=quantity + #{baseQuantyAdd}</if>
  	</set>
  	where id=#{id}
  </update>
</mapper>